.mt-1 {
   margin-top: 2px;
}

.mt-2 {
   margin-top: 4px;
}

.mt-3 {
   margin-top: 6px;
}

.mt-4 {
   margin-top: 8px;
}

.mt-5 {
   margin-top: 10px;
}

.mt-6 {
   margin-top: 12px;
}

.mt-7 {
   margin-top: 14px;
}

.mt-8 {
   margin-top: 16px;
}

.mt-9 {
   margin-top: 18px;
}

.mt-10 {
   margin-top: 20px;
}

.mt-11 {
   margin-top: 22px;
}

.mt-12 {
   margin-top: 24px;
}

.mt-13 {
   margin-top: 26px;
}

.mt-14 {
   margin-top: 28px;
}

.mt-15 {
   margin-top: 30px;
}

.mt-16 {
   margin-top: 32px;
}

.mt-17 {
   margin-top: 34px;
}

.mt-18 {
   margin-top: 36px;
}

.mt-19 {
   margin-top: 38px;
}

.mt-20 {
   margin-top: 40px;
}

///
///
.ml-1 {
   margin-left: 2px;
}

.ml-2 {
   margin-left: 4px;
}

.ml-3 {
   margin-left: 6px;
}

.ml-4 {
   margin-left: 8px;
}

.ml-5 {
   margin-left: 10px;
}

.ml-6 {
   margin-left: 12px;
}

.ml-7 {
   margin-left: 14px;
}

.ml-8 {
   margin-left: 16px;
}

.ml-9 {
   margin-left: 18px;
}

.ml-10 {
   margin-left: 20px;
}

.ml-11 {
   margin-left: 22px;
}

.ml-12 {
   margin-left: 24px;
}

.ml-13 {
   margin-left: 26px;
}

.ml-14 {
   margin-left: 28px;
}

.ml-15 {
   margin-left: 30px;
}

.ml-16 {
   margin-left: 32px;
}

.ml-17 {
   margin-left: 34px;
}

.ml-18 {
   margin-left: 36px;
}

.ml-19 {
   margin-left: 38px;
}

.ml-20 {
   margin-left: 40px;
}
